$primaryGray: #343434;
$secondaryGray: #4c4c4c;
$dropGray: #424242;
$bannerGray: #013b4a;
$primaryWhite: #fff;
$black: #000;
$primaryBg: #7c6a68;

$bannerColor: #e5205b;
$strawberry: #df114f;
$subheadColor: #354d7b;
$bgSubhead: #3789cc;
$dropColor: #f7f5f5;

$smallSize: 16px;
$primarySize: 17px;
$largeSize: 18px;
$bigSize: 20px;
$xlSize: 22px;
$xxlSize: 23px;
$xxxlSize: 25px;

$sansPrimary: 'PT Sans', Arial, Tahoma, sans-serif;
$sansBold: 'PT Sans-Bold', Arial, Tahoma, sans-serif;

$latoRegular: 'Lato Regular', Arial, Tahoma, sans-serif;
$latoSemibold: 'Lato Semibold', Arial, Tahoma, sans-serif;
$latoLight: 'Lato Light', Arial, Tahoma, sans-serif;
$latoMedium: 'Lato Medium', Arial, Tahoma, sans-serif;

$hortensia: 'Hortensia', Arial, Tahoma, sans-serif;